.field{:class => "number_#{field.position}", :style => "background-color: ##{field.color}"}
  = field.label
  -field.players.each do |player|
    .player{:class => "number_#{player.id}", :style => "background-color: ##{player.color}"}
      =player.id
